* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;

    min-height: 100vh;

    background: linear-gradient(
        135deg,
        #dff6ff,
        #e8ddff,
        #ffe5f1
    );

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}


.container {
    width: 100%;
    max-width: 500px;

    background: white;

    padding: 30px;

    border-radius: 20px;

    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.15);
}


h1 {
    text-align: center;

    color: #5b4bdb;

    font-size: 28px;

    margin-bottom: 8px;
}


.subtitle {
    text-align: center;

    color: #777;

    margin-bottom: 25px;
}


.form-box {
    display: flex;

    flex-direction: column;
}


label {
    font-weight: bold;

    color: #444;

    margin-top: 12px;

    margin-bottom: 7px;
}


input {
    width: 100%;

    padding: 13px;

    font-size: 16px;

    border: 2px solid #ddd;

    border-radius: 10px;

    outline: none;
}


input:focus {
    border-color: #6c5ce7;
}


button {
    width: 100%;

    padding: 14px;

    margin-top: 25px;

    border: none;

    border-radius: 10px;

    background: #6c5ce7;

    color: white;

    font-size: 16px;

    font-weight: bold;

    cursor: pointer;
}


button:hover {
    background: #5141c7;
}


#message {
    text-align: center;

    font-weight: bold;

    margin-top: 15px;

    min-height: 20px;
}


.reminders-section {
    margin-top: 30px;
}


h2 {
    color: #444;

    font-size: 21px;

    margin-bottom: 15px;
}


.reminder {
    background: #f5f3ff;

    border-left: 5px solid #6c5ce7;

    padding: 15px;

    margin-bottom: 12px;

    border-radius: 10px;
}


.reminder strong {
    color: #5b4bdb;

    font-size: 18px;
}


.reminder p {
    margin-top: 6px;

    color: #555;
}


.delete-btn {
    width: auto;

    padding: 8px 14px;

    margin-top: 10px;

    background: #ff5c5c;

    font-size: 14px;
}


.delete-btn:hover {
    background: #e04444;
}


.empty {
    color: #888;

    text-align: center;

    padding: 15px;
}


.alarm {
    background: #ffecec;

    border-left-color: red;

    animation: alarmAnimation 0.7s infinite;
}


@keyframes alarmAnimation {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.03);
    }

    100% {
        transform: scale(1);
    }

}
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}
